
h1{ 
color: plum;
font-size: 45px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
'Lucida Sans', Arial, sans-serif;
}

h2{

    color: peachpuff;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}